@import url(font.css);

:root {
    --color-primary: rgb(65, 167, 198);
    --color-white: #ffffff;
    --color-black: #222222;
    --color-darkgray: #7e7e7e;
    --color-lightgray: #e7e7e7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
} 

body {
    font-family: 'NanumSquareNeo';
    line-height: 1.5;
}



/* margin  */
.mt-20 {
    margin-top: 1.25rem;
}
.mt-80 {
    margin-top: 5rem;
}

/* button  */
.btn {
    font-size: 1rem;
    padding: 0.75rem 1.75rem;
    border-radius: 0;
}
.btn-bg-black {
    background-color: var(--color-black);
    color: var(--color-white);
    border: 1px solid var(--color-black);
}
.btn-bg-black:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}
.btn-bg-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 1px solid var(--color-primary);
}
.btn-bg-primary:hover {
    background-color: var(--color-white);
    border-color: var(--color-white);
    color: var(--color-black);
}
.btn-line-black {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    color: var(--color-black);
}
.btn-line-black:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}

/* common  */
.sec-pt {
    padding-top: 8.625rem;
}
.sec-py {
    padding-top: 8.625rem;
    padding-bottom: 8.625rem;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-black);
}

.contents-title {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--color-black);
}

.desc {
    font-size: 1rem;
    color: var(--color-darkgray);
}

.w-500 {
    width: 100%;
    max-width: 31.25rem;
    margin: 0 auto;
}

