@import url(common.css);

/* hero sec  */
.hero-sec {
    width: 100%;
    height: 100vh;
}
.hero-sec .swiper {
    width: 100%;
    height: 100%;
}
.hero-sec .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-sec .swiper-slide {
    position: relative;
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    color: var(--color-white);
}
.hero-text p {
    font-size: 0.875rem;
    padding-bottom: 1.25rem;
}
.hero-text h2 {
    font-size: 4rem;
}

/* business section  */
.business-contents img {
    aspect-ratio: 6 / 4;
}
.business-contents .contents-title {
    margin: 1.75rem 0 0.75rem;
}

/* info section  */
.info-wrap {
    border-top: 1px solid var(--color-lightgray);
    border-bottom: 1px solid var(--color-lightgray);
}
.info-card {
    padding: 6.25rem 0;
}
.info-wrap .col-xl-3 {
    border-right: 1px solid var(--color-lightgray);
}
.info-wrap .col-xl-3:first-child {
    border-left: 1px solid var(--color-lightgray);
}

.info-card .contents-title {
    margin: 1.875rem 0 0.625rem;
}

/* message sec  */
.message-sec {
    background-color: var(--color-black);
}
.message-img {
    background-image: url("../images/message-img.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
}

.message-text {
    width: 100%;
    max-width: 40rem;
    padding: 5rem 1.75rem;
    margin-left: auto;
}

.message-text .title {
    color: var(--color-white);
}
.text-line {
    width: 3rem;
    height: 1px;
    background-color: var(--color-lightgray);
    margin: 2rem 0;
}
.message-text .btn {
    margin-top: 2.5rem;
}

/* data section  */
.data-sec {
    background-color: var(--color-primary);
    padding: 4rem 0;
    color: var(--color-white);
}
.data-sec .col-lg-4 {
    border-right: 1px solid var(--color-white);
}
.data-sec .col-lg-4:first-child {
    border-left: 1px solid var(--color-white);
}

.data-title {
    font-size: 2.5rem;
    font-weight: 900;
    margin: 1rem 0 0.3125rem;
}
.data-title span {
    font-size: 1rem;
    font-weight: 500;
}
